.profile-picture {
    height: 0;
    background-image: url(/images/profile.webp);
    width: 80%;
    background-position: center;
    background-size: cover;
    border-radius: 600px;
    padding-bottom: 80%;
    position: relative;
    top: 12%;
    left: 40%;
}

.cv-container-part {
    background-image: url(/images/cv.png);
    background-size: cover;
}

div.col-7 > div.row > div.col div.backdrop > div {
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div.email-link {
    background-image: url(/images/email.png);
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

div.col-7 > div.row > div.col div.backdrop {
    width: 200px;
    height: 200px;
    border-radius: 300px;
    background-color: rgba(128, 128, 128, 0.288);
}
.packaging-design {
    background-image: url(/images/packaging_design.png);
}

.brochure {
    background-image: url(/images/brochure.png);
}

.ui-design {
    background-image: url(/images/ui_design.png);
}

.brand-identity {
    background-image: url(/images/branding.png);
}

.video-design {
    background-image: url(/images/video.png);
}

.web-design {
    background-image: url(/images/web_design.png);
}

/* old stuff below */

.mail {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/mail.png);
}

.sketch {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/sketch.png);
}

.prototype {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/prototype.png);
}

.pencils {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/pencils.png);
}

.glasses {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/glasses.png);
}

.meeting {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/meeting.png);
}

.tablet {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/tablet.png);
}

.coffee {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/coffee.png);
}
