.mail {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/mail.png);
}

.sketch {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/sketch.png);
}

.prototype {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/prototype.png);
}

.pencils {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/pencils.png);
}

.glasses {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/glasses.png);
}

.meeting {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/meeting.png);
}

.tablet {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/tablet.png);
}

.coffee {
    background-image: url(https://portfolio-minhajul.s3.eu-west-2.amazonaws.com/images/coffee.png);
}
