.blue-part {
    background-color: #10c6dc;
    height: 100vh;
}
.cv-container-part {
    height: 100vh;
}
.white-part {
}

.cv-container-part {
}

.heading-text {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    margin: auto;
}

.name {
    font-size: 50px;
    line-height: 67px;
}
span,
label {
    font-family: "Comfortaa", cursive;
}
.title {
    font-style: italic;
}
.heading-container {
    position: relative;
    top: 40%;
    text-align: center;
}
.cv-section {
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

    position: relative;
    top: 195px;
}
.button-container {
    position: relative;
    top: 45%;
}
.cv {
    height: inherit;
}

.creative {
    color: white;
    position: absolute;
    bottom: 5%;
    left: 20%;
    font-size: large;
}

.cv-row {
    height: 50%;
}

.cv-row a {
    cursor: pointer;
}
.bottom-bar {
    position: relative;
    bottom: 16px;
    background-color: #10c6dc;
    height: 40px;
}

.bottom-bar a {
    position: relative;
    top: -160%;
    right: -90%;
}

button {
    background-color: #00ace1 !important;
    border-color: #00ace1 !important;
    border-radius: 25px !important;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25) !important;
    margin: 0 13% !important;
    transition: box-shadow 0.3s ease-in-out !important;
}
.hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5) !important;
    transition: box-shadow 0.3s ease-in-out !important;
}
.contact {
    margin: 0 12%;
}
.contact a {
    color: white;
}
@media only screen and (max-width: 720px) {
    .name {
        font-size: 35px;
        line-height: 55px;
    }

    .contact {
        margin: 0% 4%;
        line-height: 4;
    }

    .two-buttons button:nth-child(2) {
        margin-top: 35% !important;
    }
    .two-buttons {
        top: 25%;
    }
}
