.profile-picture {
    height: 0;
    background-image: url(/images/profile.webp);
    width: 80%;
    background-position: center;
    background-size: cover;
    border-radius: 600px;
    padding-bottom: 80%;
    position: relative;
    top: 12%;
    left: 40%;
}

span#coded.coded > a {
    position: absolute;
    font-size: medium;
    color: white !important;
    top: 10px;
    left: 10px;
}
div.row.cv {
    margin-bottom: 40px;
}

.cv-container-part {
    background-image: url(/images/cv.png);
    background-size: cover;
}

div.col-7 div.col div.backdrop > div {
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    cursor: pointer;
}

div.col-7 div.col div.backdrop {
    width: 200px;
    height: 200px;
    border-radius: 300px;
    background-color: rgba(128, 128, 128, 0.288);
}

a.email-link {
    background-image: url(/images/email.png);
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right: 0;
}
.packaging-design {
    background-image: url(/images/packaging_design.png);
}

.brochure {
    background-image: url(/images/brochure.png);
}

.ui-design {
    background-image: url(/images/ui_design.png);
}

.brand-identity {
    background-image: url(/images/branding.png);
}

.video-design {
    background-image: url(/images/video.png);
}

.web-design {
    background-image: url(/images/web_design.png);
}

.blue-part {
    background-color: #10c6dc;
    height: 100vh;
}
.cv-container-part {
    height: 100vh;
}

.heading-text {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    margin: auto;
}

.name {
    font-size: 50px;
    line-height: 67px;
}
span,
label {
    font-family: "Comfortaa", cursive;
}
.title {
    font-style: italic;
}
.heading-container {
    position: relative;
    top: 40%;
    text-align: center;
}
.cv-section {
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

    position: relative;
    top: 195px;
}
.button-container {
    position: relative;
    top: 45%;
}
.cv {
    height: inherit;
}

.creative {
    color: white;
    position: absolute;
    bottom: 5%;
    left: 20%;
    font-size: large;
}

.cv-row {
    height: 50%;
}

.cv-row a {
    cursor: pointer;
}
.bottom-bar {
    position: relative;
    bottom: 40px;
    background-color: #10c6dc;
    height: 40px;
}

.bottom-bar a {
    position: absolute;
    float: right;
}

#heading {
    margin: 0;
}

button {
    background-color: #00ace1 !important;
    border-color: #00ace1 !important;
    border-radius: 25px !important;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25) !important;
    margin: 0 13% !important;
    transition: box-shadow 0.3s ease-in-out !important;
}
.hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5) !important;
    transition: box-shadow 0.3s ease-in-out !important;
}
.contact {
    margin: 0 12%;
}
.contact a {
    color: white;
}
div.row.cv {
    margin: 0;
}
@media only screen and (max-width: 720px) {
    .heading-container {
        height: 35vh;
    }
    span#coded.coded > a {
        font-size: x-small;
    }

    #blue-part {
        height: 20vh;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    #profile-picture {
        height: 0;
        background-image: url(/images/profile.webp);
        width: 55%;
        background-position: center;
        background-size: cover;
        border-radius: 600px;
        padding-bottom: 55%;
        position: relative;
        top: 29%;
        left: 22.5%;
    }

    #creative {
        bottom: 0%;
        left: 5%;
        font-size: x-small;
    }

    #white-part {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #white-part .heading-container {
        top: 50%;
    }

    div.col-7 div div.backdrop div {
        height: 100px !important;
        width: 100px !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    div.col-7 div div.backdrop {
        width: 100px !important;
        height: 100px !important;
        border-radius: 300px;
        background-color: rgba(128, 128, 128, 0.288);
    }

    #heading {
        margin: 0;
    }

    #bottom-bar {
        bottom: 0;
    }

    #bottom-bar a.email-link {
        position: absolute;
        bottom: 0;
    }

    div.row.cv {
        margin: 0;
    }

    #buttons-container {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0;
        margin-left: -3%;
    }

    .pl-5 {
        padding-left: 0;
    }

    .cv-container-part {
        height: 70vh;
        background-position: bottom;
    }
}
